@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}
.background {
    width: 100%;
    height: 200px;

    background-image: url('../images/background.png');
    background-repeat: repeat-x;

    position: absolute;
    bottom: 0px;
    
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
}