.dino {
    width: 60px;
    height: 60px;

    background-image: url(../images/dino.png);

    position: absolute;
    bottom: 0;
}
.cactus {
    width: 60px;
    height: 60px;

    background-image: url(../images/cactus.png);

    position: absolute;
    bottom: 0;
}



/* End */
.game-over {
    margin: 50px 0;

    color: #666;
    font-family: arial;
    text-align: center;
}